.color-mob-navbar{
	color: white;
}
.position-carousel{
	margin-top: -20px;
}
footer{
    background: #222222;
    color: #ffffff;
}

footer li{
	list-style-type: none;
}

footer li a{
	color: #9d9d9d;
}

.content-fluid{
	max-width: 1200px;
}

.nav > li > a {

    padding: 10px 14px;
}
.navbar {
    border-radius: 0px;
}